@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300..700&display=swap');
@import 'bootstrap/scss/bootstrap';

* {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

li {
    list-style-type: none;
    text-decoration: none;
}

.btn-active {
    background-color: rgba(0, 0, 0, 0.871) !important;
    color: white !important;
    border-color: rgba(0, 0, 0, 0.871) !important;
}

.btn-non-active {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.871) !important;
}

.button-non-active {
    @extend .btn;
    @extend .border-dark;
}

.button-non-active:hover {
    @extend .btn-dark;
}

.button {
    @extend .btn;
    @extend .btn-dark;
    @extend .bg-gradient;
}

.nav-item .nav-link {
    position: relative;
    text-decoration: none;
    transition: color 0.3s, font-weight 0.3s;
}

.nav-item .nav-link:hover {
    color: black;
    font-weight: bold;
}

.nav-item .underline {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s;
}

.nav-item:hover .underline {
    width: 100%;
}
