@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
}

li{
  list-style-type: none;
}

.btn-active{
  background-color: rgba(0, 0, 0, 0.871) !important;
  color: white !important;
  border-color: rgba(0, 0, 0, 0.871)  !important;
}

.btn-non-active{
  background-color: white  !important;
  color: rgba(0, 0, 0, 0.871) !important;
}

